html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #eee;
}

h1, h2, h3 {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80em;
    margin: 0 auto;
}

.tables {
    display: flex;
    justify-content: space-around;
}

.map {
    display: flex;
    justify-content: center;
}

table caption {
    font-size: 2em;
    font-family: 'Acme', sans-serif;
}

table th {
    font-weight: bold;
}
